extend layout
block head
  script(type="text/javascript",src="/ckeditor/ckeditor.js")
  script(type="text/javascript",src="/edit-ckeditor.js")
  script(type="text/javascript",src="/collaborator-dialog.js")
block header
  div(class="about-container")
    a(href="/about")
      |About
block content
  h2 
    |#{title}
  p(class="info-text")
    |This 
  div(class="editor")
    div(id="ckcontainer")