extend layout
block head
  script(type='text/javascript',src='/files.js')
block header
  div(class="about-container")
    a(href="/about")
      |About  
block content
  img(src="/gfx/files.png",class="view-image") 
  h2 
    |Files
  p(class="info-text")
    |Your files
  div(class="view-tools")
    a(class="view-tool",href="javascript:void(null)",onclick="openNewFileDialog(event)",data-type="text/html;editor=CKEditor")
      img(src="/gfx/ckeditor-icon.png")
      |New Document (CKEditor)
  div(class="list")
    each file in files
      div(class="list-item")
        |#{file.name}
        if ((file.role == 'OWNER')||(file.role == 'WRITER'))
          a(class="list-action",href="/files/#{file.id}/edit/ckeditor")
            |Edit
        if ((file.role == 'READER'))
          a(class="list-action",href="/files/#{file.id}/view/ckeditor")
            |View