!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/style.css')
    script(type='text/javascript',src='/jquery/jquery-1.9.1.js')
    script(type='text/javascript',src='/jquery-ui/js/jquery-ui-1.10.3.custom.js')
    script(type='text/javascript',src='/scripts.js')
    link(href="/jquery-ui/css/pepper-grinder/jquery-ui-1.10.3.custom.css",rel="stylesheet")
    block head
  body
    .header 
      block header
    .container
      .content
        block content
    .footer
      block footer