!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/style.css')
    script(type='text/javascript',src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(type='text/javascript',src='http://code.jquery.com/ui/1.10.3/jquery-ui.min.js')
    link(href="/jquery-ui-theme/jquery-ui-1.10.3.custom.min.css",rel="stylesheet")
    block head
  body
    .header 
      if loggedUser
        div(class="login-info")
          |Logged in as #{loggedUser.name} 
          a(href="/auth/logout")
            |Logout
      else
        div(class="login-info")
          a(href="/")
            |Login
      block header
    .container
      .content
        block content
    .footer
      block footer