!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/style.css')
    script(type='text/javascript',src='/jquery/jquery-1.9.1.js')
    script(type='text/javascript',src='/jquery-ui/js/jquery-ui-1.10.3.custom.js')
    link(href="/jquery-ui/css/coops/jquery-ui-1.10.3.custom.css",rel="stylesheet")
    block head
  body
    .header 
      if loggedUser
        div(class="login-info")
          |Logged in as #{loggedUser.name} 
          a(href="/auth/logout")
            |Logout
      else
        div(class="login-info")
          a(href="/")
            |Login
      block header
    .container
      .content
        block content
    .footer
      block footer