extend layout
block head
  meta(http-equiv="refresh",content="5")
block header
  div(class="login-info")
    |Logged in as #{loggedUser.name} 
    a(href="/auth/logout")
      |Logout
block content
  h2 
    |#{title}
  div(class="ck-viewer")!= content