extend layout
block header
  div(class="index-container")
    a(href="/")
      |Index
  div(class="about-container")
    a(href="/about")
      |About
block head
  meta(http-equiv="refresh",content="5")
block content
  h2 
    |#{title}
  div(class="ck-viewer")!= content